@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2>Hello World</h2>

    <div id="result"></div> <!-- API'den gelen veriyi göstermek için bu div kullanılır -->
   @*   <button id="getDataButton" class="btn btn-primary">Get Data</button>  *@
    <button id="getTravelButton" class="btn btn-primary">Get Travel Data</button>
    <button id="getStaffButton" class="btn btn-primary">Get Staff Data</button>
    <button id="getStatusButton" class="btn btn-primary">Get Status Data</button>
    <button id="getAdminsButton" class="btn btn-primary">Get Admin Data</button>
    <button id="getTWSButton" class="btn btn-primary">Get TWS Data</button>
    
    <!-- Veri Gösterim Alanları -->
    <div id="adminResult"></div>
    <div id="travelResult"></div>
    <div id="staffResult"></div>
    <div id="statusResult"></div>
    <div id="travelWithStaffResult"></div>

</div>

   
<!-- API'den gelen veriyi tablo olarak göstermek için bu tablo yapısı kullanılır -->

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Admin verisini çekme ve gösterme
        $("#getAdminsButton").click(function () {
            $.ajax({
                url: "https://localhost:7294/api/Admin",
                method: "GET",
                success: function (data) {
                    var adminTable = "<table class='table table-bordered'><thead><tr><th>ID</th><th>Name</th><th>Surname</th></tr></thead><tbody>";
                    $.each(data.data, function (index, item) {
                        adminTable += "<tr><td>" + item.id + "</td><td>" + item.name + "</td><td>" + item.surname + "</td></tr>";
                    });
                    adminTable += "</tbody></table>";
                    $("#adminResult").html(adminTable);
                },
                error: function (err) {
                    console.log(err);
                    $("#adminResult").html("An error occurred: " + err.statusText);
                }
            });
        });

        // Travel verisini çekme ve gösterme
        $("#getTravelButton").click(function () {
            $.ajax({
                url: "https://localhost:7294/api/Travel",
                method: "GET",
                success: function (data) {
                    var travelTable = "<table class='table table-bordered'><thead><tr><th>ID</th><th>City</th><th>Description</th><th>Stay</th></tr></thead><tbody>";
                    $.each(data.data, function (index, item) {
                        travelTable += "<tr><td>" + item.id 
                        + "</td><td>" 
                        + item.city 
                        + "</td><td>" 
                        + item.description 
                        + "</td><td>" 
                        + item.stay 
                        + "</td></tr>";
                    });
                    travelTable += "</tbody></table>";
                    $("#travelResult").html(travelTable);
                },
                error: function (err) {
                    console.log(err);
                    $("#travelResult").html("An error occurred: " + err.statusText);
                }
            });
        });

        // Staff verisini çekme ve gösterme
        $("#getStaffButton").click(function () {
            $.ajax({
                url: "https://localhost:7294/api/Staff",
                method: "GET",
                success: function (data) {
                    var staffTable = "<table class='table table-bordered'><thead><tr><th>ID</th><th>Name</th><th>Surname</th></tr></thead><tbody>";
                    $.each(data.data, function (index, item) {
                        staffTable += "<tr><td>" + item.id + "</td><td>" + item.name + "</td><td>" + item.surname + "</td></tr>";
                    });
                    staffTable += "</tbody></table>";
                    $("#staffResult").html(staffTable);
                },
                error: function (err) {
                    console.log(err);
                    $("#staffResult").html("An error occurred: " + err.statusText);
                }
            });
        });

        // Status verisini çekme ve gösterme
        $("#getStatusButton").click(function () {
            $.ajax({
                url: "https://localhost:7294/api/Status",
                method: "GET",
                success: function (data) {
                    var statusTable = "<table class='table table-bordered'><thead><tr><th>ID</th><th>Status</th></tr></thead><tbody>";
                    $.each(data.data, function (index, item) {
                        statusTable += "<tr><td>" + item.id + "</td><td>" + item.information + "</td></tr>";
                    });
                    statusTable += "</tbody></table>";
                    $("#statusResult").html(statusTable);
                },
                error: function (err) {
                    console.log(err);
                    $("#statusResult").html("An error occurred: " + err.statusText);
                }
            });
        });
    });


    $(document).ready(function () {
        // TWS verisini çekme ve gösterme
        $("#getTWSButton").click(function () {
            $.ajax({
                url: "https://localhost:7294/api/Travel/GetTravelWithStaff",
                method: "GET",
                success: function (data) {
                    var twsTable = "<table class='table table-bordered'><thead><tr><th>Travel ID</th><th>City</th><th>Description</th><th>Stay</th><th>Vehicle</th><th>Staff Name</th><th>Staff Surname</th><th>Admin Name</th><th>Admin Surname</th></tr></thead><tbody>";
                    var requests = [];

                    $.each(data.data, function (index, item) {
                        var request = $.ajax({
                            url: "https://localhost:7294/api/Admin/" + item.adminId,
                            method: "GET",
                            success: function (adminData) {
                                twsTable += "<tr><td>" + item.id + "</td><td>" + item.city + "</td><td>" + item.description + "</td><td>" + item.stay + "</td><td>" + item.vehicle + "</td><td>" + item.staff.name + "</td><td>" + item.staff.surname + "</td><td>" + adminData.data.name + "</td><td>" + adminData.data.surname + "</td></tr>";
                            },
                            error: function (err) {
                                console.log(err);
                                $("#travelWithStaffResult").html("An error occurred while fetching admin data: " + err.statusText);
                            }
                        });
                        requests.push(request);
                    });

                    $.when.apply($, requests).then(function () {
                        twsTable += "</tbody></table>";
                        $("#travelWithStaffResult").html(twsTable);
                    });
                },
                error: function (err) {
                    console.log(err);
                    $("#travelWithStaffResult").html("An error occurred: " + err.statusText);
                }
            });
        });
    });



</script>